<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-07-21T03:25:11Z</date>
	<key>WorkspacePath</key>
	<string>/Users/tiendoan/Projects/Flutter/flutter_audio_record_poc/macos/Runner.xcworkspace</string>
</dict>
</plist>
